@import url('https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap');

body{
    overflow: hidden;
}
.container{
    display: flex;
    /* margin-top: 10px; */
    
}
.userlist{
    width: 30%;
    background-color: rgb(243, 231, 243) !important;
}
.message{
    width: 70%;
    
}
.imageandinput{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.inputdiv{
    width: 90%;
}
.imagediv{
    margin-top: 4px;
    width: 5%;
    margin-left: 5px;
}
.search{
    width: 90%;
    padding: 5px;
    border: 2px solid #CCD1D1;
    border-radius: 25px;   
     
}
.search:hover,.textArea:hover{
    border: 2px solid #8E44AD;
}
.hrtag{
    text-align: center;
    margin: 8px 20px 8px 20px; 
   background-color: red;
   height: 1px;
   background-color: #CCD1D1;
 
}
.vl {
    height: 450px;
    background-color: #CCD1D1;
    width: 1px !important;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 70px;
}
.users{
    display: flex;
}
.users:hover > .usersName {
    color: black;
    font-weight: bolder !important;
}
.UserImage{
    border-radius: 50%;
    width: 60px;
    display: inline-block;
    margin-left: 30px;   
}
.usersName{
    margin-top: 20px;
    margin-left: 25px;
    font-family: 'Martel', serif;
    color: gray;
}
.openchat{
    text-align: center;
    margin-bottom: 10px;
    padding: 14px;
    background-color: rgb(243, 231, 243) !important;
    text-transform: uppercase;
}

.messagesection{
    overflow :hidden;
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-repeat: repeat; */
}

.chatcontainer{
  height :385px;
  /* background-color: tomato; */
  overflow: auto;
  transform :rotate(180deg);
  direction :rtl;
  padding: 10px 10px 10px 10px;
 
}
.mymsg
{
    transform: rotate(180deg);
    direction: ltr;
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
}
.mymsg span{
    background-color: #D2B4DE !important;  
    padding: 10px;
    max-width: 400px;
    position: relative;
}
.mymsg span:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #D2B4DE;
    border-top: px solid #D2B4DE;
    border-bottom: 10px solid transparent;
    right: 0px;
    bottom: -8px;
}
.yourmsg{
    transform: rotate(180deg);
    direction: ltr;
    margin-top: 12px;
    display: flex;
    justify-content: flex-start;
}    
  
.yourmsg span{
    padding: 10px;
    max-width: 400px;
    background-color: #D2B4DE !important;
    position: relative;
    
}
.yourmsg span:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #D2B4DE;
    border-right: 10px solid transparent;
    border-top: px solid #D2B4DE;
    border-bottom: 10px solid transparent;
    left: 0px;
    bottom: -8px;
}

    

.formdiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.textArea{
    margin-top: 10px;
    padding: 7px;
    width: 95%;
    border-radius: 20px;
    font-family: 'Martel', serif;
}  
.textArea:focus{
    border: none;
}
.btn{
    border: none;
    background-color: white;
    width: 5%;
    margin-top: 12px;
}

